---
has_basic_layout: true
full_title:       "Nanoc: a static-site generator written in Ruby &raquo; home"
short_title:      "Home"
raw_layout:       true
---

<div class="explanation">
    <div class="explanation-content">
        Nanoc is a <em>static-site generator</em>, fit for building anything from a small personal blog to a large corporate website.
    </div>
</div>

<div class="hero">
    <div class="hero__links">
        <a class="hero__link" href="/doc/installation/">Installation</a>
        <a class="hero__link" href="/doc/tutorial/">Tutorial</a>
        <a class="hero__link" href="/about/">Documentation</a>
    </div>
    <div class="hero__slides">
        <div class="hero__slide">
            <a href="https://prometheus.io/">
                <img src="<%= @items['/assets/images/hero/prometheus.*'].path %>" alt="Prometheus site screenshot">
            </a>
        </div>
        <div class="hero__slide" style="opacity: 0">
            <a href="https://developer.github.com/">
                <img src="<%= @items['/assets/images/hero/github-api.*'].path %>" alt="GitHub developer site screenshot">
            </a>
        </div>
        <div class="hero__slide" style="opacity: 0">
            <a href="https://2018.rubyworld-conf.org/">
                <img src="<%= @items['/assets/images/hero/rubyworld-conference.*'].path %>" alt="RubyWorld website screenshot">
            </a>
        </div>
        <div class="hero__slide" style="opacity: 0">
            <a href="https://mystonline.com/en/">
                <img src="<%= @items['/assets/images/hero/myst-online.*'].path %>" alt="Myst Online website screenshot">
            </a>
        </div>
        <div class="hero__slide" style="opacity: 0">
            <a href="https://atom.io/">
                <img src="<%= @items['/assets/images/hero/atom-flight-manual.*'].path %>" alt="Atom flight manual site screenshot">
            </a>
        </div>
        <div class="hero__slide" style="opacity: 0">
            <img src="<%= @items['/assets/images/hero/ugly-betty.*'].path %>" alt="Ugly Betty website screenshot">
        </div>
        <div class="hero__slide" style="opacity: 0">
            <a href="https://guides.spreecommerce.org/">
                <img src="<%= @items['/assets/images/hero/spree-api.*'].path %>" alt="Spree Commerce API site screenshot">
            </a>
        </div>
        <div class="hero__slide" style="opacity: 0">
            <a href="https://fosdem.org/">
                <img src="<%= @items['/assets/images/hero/fosdem.*'].path %>" alt="FOSDEM website screenshot">
            </a>
        </div>
    </div>
</div>
