<% content_for :title do %><%= @item[:name] %> <%= @item[:type].capitalize %><% end %>

<% content_for :details do %>
    <h3><%= @item[:type].capitalize %> details</h3>
    <p>↑ <%= link_to "Back to #{@item.parent[:title]}", @item.parent %></p>
    <dl>
        <dt>Name</dt>
        <dd><%= @item[:name] %></dd>

        <% if @item[:identifiers] && @item[:identifiers].size > 0 %>
            <dt>Identifier<%= @item[:identifiers].size > 1 ? 's' : '' %></dt>
            <dd><%= @item[:identifiers].map { |i| "<code>:#{i}</code>" }.join(', ') %></dd>
        <% end %>

        <dt>API documentation</dt>
        <dd><a href="<%= api_doc_root + @item[:full_name].gsub('::', '/') + '.html' %>"><%= @item[:full_name] %></a></dd>
    </dl>
<% end %>

<h2>Description</h2>

<% filter :rdiscount do %>
<%= @item[:description] %>
<% end %>

<% if @item[:examples] %>
<h2>Examples</h2>

<% @item[:examples].each do |example| %>
    <pre title="<%=h example[:title] %>"><code><%=h example[:code].strip %></code></pre>
<% end %>
<% end %>

<h2>Options</h2>

<p>Write me please.</p>

<h2>Links</h2>

<p>Write me please.</p>
