<h2 id="<%= @item[:name] %>">
    <% if @item[:type] == "command" %>
        <code><%= @item[:name] %></code>
    <% elsif @item[:identifiers] && !@item[:identifiers].empty? %>
        <code>:<%= @item[:identifiers].first %></code>
    <% else %>
        <%= @item[:name] %>
    <% end %>
</h2>

<% if @item[:usage] %>
<pre><%= @item[:usage] %></pre>
<% end %>

<% filter :kramdown do %>
<%= @item[:description] || @item[:summary] %>
<% if @item[:aliases] && @item[:aliases].size > 0 %>Also known as <%= @item[:aliases].map { |i| "<code>#{i}</code>" }.join(', ') %>.<% end %>
<% end %>

<% if @item[:options] && !@item[:options].empty? %>
    <p>It takes the following options:</p>
    <dl>
        <% @item[:options].each do |name, description| %>
            <dt><code><%= name %></code></dt>
            <dd><% filter :kramdown do %><%= description %><% end %></dd>
        <% end %>
    </dl>
<% end %>

<% if @item[:option_definitions] && !@item[:option_definitions].empty? %>
    <dl>
    <% @item[:option_definitions].each do |opt_def| %>
        <dt><% if opt_def[:short] %><kbd>-<%= opt_def[:short] %>&#8194;</kbd><% end %><kbd>--<%= opt_def[:long] %></kbd></dt>
        <dd><%= opt_def[:desc] %></dd>
    <% end %>
    </dl>
<% end %>

<% if @item[:functions] && !@item[:functions].empty? %>
    <dl>
        <% @item[:functions].each do |function| %>
            <dt><code><%= function[:signature] %></code></dt>
            <dd><% filter :kramdown do %><%= function[:summary] %><% end %></dd>
        <% end %>
    </dl>
<% end %>

<% if @item[:examples] && !@item[:examples].empty? %>
    <h3>Examples</h3>
    <% @item[:examples].each do |example| %>
        <p><%=h example[:title] %>:</p>
        <pre><code><%=h example[:code].strip %></code></pre>
    <% end %>
<% end %>
