<% content_for :title do %><%= @item[:name] %> <%= @item[:type].capitalize %><% end %>

<% content_for :details do %>
    <h3><%= @item[:type].capitalize %> details</h3>
    <p>↑ <%= link_to "Back to #{@item.parent[:title]}", @item.parent %></p>
    <dl>
        <dt>Name</dt>
        <dd><%= @item[:name] %></dd>

        <% if @item[:aliases] && @item[:aliases].size > 0 %>
            <dt>Alias<%= @item[:aliases].size > 1 ? 'es' : '' %></dt>
            <dd><%= @item[:aliases].map { |i| "<code>#{i}</code>" }.join(', ') %></dd>
        <% end %>
    </dl>
<% end %>

<h2>Summary</h2>

<dl>
    <dt><code><%= @item[:usage] %></code></dt>
    <dd><%= @item[:summary] %></dd>
</dl>

<h2>Description</h2>

<% filter :rdiscount do %>
<%= @item[:description] %>
<% end %>

<% unless @item[:option_definitions].empty? %>
<h2>Options</h2>

<dl>
<% @item[:option_definitions].each do |opt_def| %>
    <dt><kbd>-<%= opt_def[:short] %></kbd> <kbd>--<%= opt_def[:long] %></kbd></dt>
    <dd><%= opt_def[:desc] %></dd>
<% end %>
</dl>
<% end %>
