<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<!-- title -->
		<title><%= @item[:has_full_title] ? @item[:title] : 'nanoc &raquo; ' + @item[:title] %></title>

		<!-- stylesheets -->
		<link rel="stylesheet" href="<%= item_named('/assets/style/screen/').path %>" type="text/css" media="screen">

		<!-- feed -->
		<link rel="alternate" type="application/atom+xml" title="The nanoc Blog" href="http://feeds.feedburner.com/nanoc">
	</head>
	<body>
		<div class="nav">
			<ol>
				<%= nav_item_for('/',           :include_children => false) %>
				<%= nav_item_for('/blog/',      :include_children => false) %>
				<%= nav_item_for('/docs/',      :include_children => false) %>
				<%= nav_item_for('/community/', :include_children => false) %>
			</ol>
		</div>
<% if @item.identifier =~ %r[^/docs/] %>
		<div class="subnav">
			<ol>
				<%= nav_item_for('/docs/1-introduction/'     ) %>
				<%= nav_item_for('/docs/2-installation/'     ) %>
				<%= nav_item_for('/docs/3-getting-started/'  ) %>
				<%= nav_item_for('/docs/4-basic-concepts/'   ) %>
				<%= nav_item_for('/docs/5-advanced-concepts/') %>
				<%= nav_item_for('/docs/6-guides/'           ) %>
				<%= nav_item_for('/docs/7-glossary/'         ) %>
				<%= nav_item_for('/docs/8-faq/'              ) %>
				<%= nav_item_for('/docs/9-migrating-to-30/'  ) %>
				<li><a href="/docs/api/3.1/"><span>API documentation</span></a></li>
			</ol>
		</div>
<% end %>

		<div class="body">
<% if @item[:raw_layout] %>
			<%= yield %>
<% else %>
			<div class="article">
				<div class="header">
					<h1><%= @item[:short_title] || @item[:title] %></h1>
				</div>
				<%= yield %>
			</div>
<% end %>
		</div>

		<div id="footer">
			<div id="footer-inside">
				<p>nanoc &copy; 2007–2010 Denis Defreyne. The content of the nanoc web site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/be/">Creative Commons Attribution-ShareAlike 2.0 Belgium License</a>. nanoc is licenced under the MIT licence.</p>
			</div>
		</div>

<% if @config[:enable_ramalytics] %>
		<script src="http://ram.purepistos.net/ramalytics.js"></script>
<% end %>
	</body>
</html>
