<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= @item[:full_title] || 'nanoc &raquo; ' + (content_for(@item, :title) || @item[:title]) %></title>
        <link href="<%= @items['/assets/style/screen/'].path %>" media="screen" rel="stylesheet">
        <link href="<%= @items['/assets/style/print/'].path %>"  media="print" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script>$(function(){$('.slides .slide:gt(0)').hide();setInterval(function(){$('.slides .slide:first-child').fadeOut(1200).next('.slide').fadeIn(1200).end().appendTo('.slides');},4000);});</script>
    </head>
    <body class="<%= @item[:has_basic_layout] ? 'home' : 'page' %>">
        <header>
            <div class="header-content">
                <nav class="main">
                    <ol>
                        <li class="home"><a href="/"><span>Home</span></a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/install/">Install</a></li>
                        <li><a href="/docs/">Documentation</a></li>
                        <li><a href="/community/">Community</a></li>
                        <li><a href="/development/">Development</a></li>
                    </ol>
                </nav>
                <%#
                <div class="search">
                    <input type="text" value="Search...">
                </div>
                %>
            </div>
        </header>
<% if @item[:has_basic_layout] %>
    <%= yield %>
<% else %>
        <div class="intro">
            <div class="intro-content">
                <h1><%= @item[:title] || content_for(@item, :title )%></h1>
                <% if @item[:intro] %>
                    <p><%= @item[:intro] %></p>
                <% end %>
            </div>
        </div>
        <div class="content">
            <article>
                <div class="side">
                    <% if content_for(@item, :details) %>
                        <div class="details">
                            <%= content_for(@item, :details) %>
                        </div>
                    <% else %>
                        <div class="details">
                            <h3><%= @item[:short_title] || @item[:title] %></h3>
                            <%= link_back %>
                            {{TOC}}
                        </div>
                    <% end %>
                    <div class="open-source-site">
                        <p>This site is <a href="http://github.com/nanoc/nanoc.ws">hosted on GitHub</a>. If you want to help out, do report issues and submit pull requests!</p>
                    </div>
                </div>
                <div class="article-content">
                    <%= yield %>
                </div>
            </article>
        </div>
<% end %>
        <footer>
            <div class="footer-content">
                <nav>
                    <section class="about">
                        <h3>About</h3>
                        <ul>
                            <li><a href="/about/#history">History</a></li>
                            <li><a href="/about/#why-static">Why static?</a></li>
                            <li><a href="/about/#similar-projects">Alternatives</a></li>
                        </ul>
                    </section>
                    <section class="install">
                        <h3>Install</h3>
                        <ul>
                            <li><a href="/install/#instructions-for-the-impatient">Quick install</a></li>
                            <li><a href="/install/#installing-ruby">Installing Ruby</a></li>
                            <li><a href="/install/#from-git">Installing from git</a></li>
                        </ul>
                    </section>
                    <section class="documentation">
                        <h3>Documentation</h3>
                        <ul>
                            <!-- FIXME add more -->
                            <li><%= link_to_id '/docs/tutorial/' %></li>
                            <li><%= link_to_id '/docs/basics/' %></li>
                            <li><%= link_to_id '/docs/extending-nanoc/' %></li>
                            <li><%= link_to_id '/docs/troubleshooting/' %></li>
                            <li><%= link_to_id '/docs/glossary/' %></li>
                        </ul>
                    </section>
                    <section class="community">
                        <h3>Community</h3>
                        <ul>
                            <li><a href="http://groups.google.com/group/nanoc">Discussion group</a></li>
                            <li><a href="http://github.com/nanoc/nanoc/issues">Issue tracker</a></li>
                            <li><a href="irc://chat.freenode.net/#nanoc">IRC channel</a></li>
                            <li><a href="http://github.com/nanoc/nanoc/wiki">Wiki</a></li>
                            <li><a href="/development/">Development</a></li>
                            <li><a href="http://www.pledgie.com/campaigns/9282">Donate</a></li>
                        </ul>
                    </section>
                </nav>
                <div class="copyright">
                    <p>nanoc © 2007–2014 Denis Defreyne. The content of the nanoc web site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. nanoc is licenced under the MIT licence. <a href="http://entypo.com/">Entypo</a> pictograms by Daniel Bruce. <a href="http://subtlepatterns.com/">Subtle Patterns</a> by Atle Mo.</p>
                </div>
            </div>
        </footer>
        <script type="text/javascript">var _gaq = _gaq || []; var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js'; _gaq.push(['_require', 'inpage_linkid', pluginUrl]); _gaq.push(['_setAccount', 'UA-15639968-1']); _gaq.push(['_setDomainName', 'nanoc.ws']); _gaq.push(['_setAllowLinker', true]); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    </body>
</html>
