<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= @item[:full_title] || 'Nanoc &raquo; ' + @item[:title] %></title>
    <link href="<%= @items['/assets/style/screen.*'].path %>" media="screen" rel="stylesheet">
    <link href="<%= @items['/assets/style/print.*'].path %>"  media="print" rel="stylesheet">
    <link href="<%= @items['/assets/font-awesome/style/all.*'].path %>" media="screen" rel="stylesheet">
    <link href="<%= @items['/assets/source-sans-3-*/all.*'].path %>" media="screen" rel="stylesheet">
    <link href="<%= @items['/assets/roboto-mono-3-*/all.*'].path %>" media="screen" rel="stylesheet">
    <link rel="preconnect" href="https://RNL791U9AF-dsn.algolia.net" crossorigin>
    <link href="<%= @items['/assets/docsearch-*/*.css'].path %>" media="screen" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <meta name="msvalidate.01" content="C17C3E6CB88433CBBAB71760E3F9B95A">
  </head>
  <body id="nanoc">
    <div class="wrapper <%= @item[:has_basic_layout] ? 'home' : 'page' %>">
<% if @item[:has_basic_layout] %>
      <%= render '/free_palestine.*' %>
      <%= yield %>
<% else %>
      <nav class="nws-nav">
        <%= render '/free_palestine.*' %>
        <div class="nws-nav-content">
          <span class="nws-nav-home"><%= link_to_unless_current('Nanoc', @items['/index.*'], class: 'nws-nav-link') %></span>
          <ul>
            <li class="nws-nav-item"><%= link_to_unless_current('Documentation', @items['/doc/about.*'], class: 'nws-nav-link') %></li>
            <li class="nws-nav-item"><%= link_to_unless_current('Contributing', @items['/contributing.*'], class: 'nws-nav-link') %></li>
            <li class="nws-nav-item"><%= link_to_unless_current('Support', @items['/support.*'], class: 'nws-nav-link') %></li>
            <li class="nws-nav-item"><%= link_to_unless_current('What’s new?', @items['/whats-new.*'], class: 'nws-nav-link') %></li>
          </ul>
        </div>
      </nav>
      <div class="nws-content">
        <aside class="side">
          <div class="nws-side__search" id="search-box"></div>
          <div class="nws-side__content">
            <% if @item.identifier =~ %r{^/doc(/|\.)} %>
              <h3>Table of contents</h3>
              <%= doc_toc %>
            <% elsif !@item[:skip_details] %>
              <h3>Table of contents</h3>
              {{TOC}}
            <% end %>
          </div>
        </aside>
        <article>
          <div class="article-content">
            <h1 class="nws-article__title"><%= @item[:title] %></h1>
            <%= yield %>
          </div>
        </article>
      </div>
  <% end %>
      <footer class="footer">
        <div class="footer-content-wrapper">
          <div class="footer-content">
            <div class="footer-releasenotes">The latest release is <%= latest_release_info[:version] %>, released on <%= latest_release_info[:date].format_as_date %>. See the <a href="/release-notes/">release notes</a> for details.</div>
            <div class="footer-links-explanation">Don’t stick around forever. For a change of scenery, go over here:</div>
            <ul class="footer-links">
              <li><%= link_to_id '/contributing.*' %></li>
              <li><a href="https://github.com/nanoc/nanoc">GitHub repo</a></li>
              <li><a href="https://github.com/nanoc/nanoc/issues">Issue tracker</a></li>
              <li><a href="https://github.com/nanoc/nanoc/discussions">GitHub discussions</a></li>
              <li><a href="https://groups.google.com/d/forum/nanoc">Google group</a></li>
              <li><a href="https://ko-fi.com/denisdefreyne">Donate <strong>&#10084;</strong></a></li>
            </ul>
            <div class="footer-copyright">
              <div class="text">Nanoc © 2007–2026 <a href="https://denisdefreyne.com/" rel="author">Denis Defreyne</a>. The content of the Nanoc website is licensed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>, with exception of code examples, which are released into the public domain. Nanoc is licensed under the MIT license. <a href="https://fontawesome.com">Font Awesome</a> licensed under SIL OFL 1.1. <a href="https://www.toptal.com/designers/subtlepatterns/">Subtle Patterns</a> by Atle Mo. Deployed on <a href="https://www.netlify.com/">Netlify</a>, the hosting platform with native support for Nanoc.</div>
              <div class="logo"><img src="/assets/images/logo-small.png"></div>
              <div class="made-in-berlin"><img src="/assets/images/made-in-berlin-badge.png"></div>
            </div>
          </div>
        </div>
      </footer>
      <script src="<%= @items['/assets/docsearch-*/*.js'].path %>"></script>
      <script>docsearch({apiKey:'3b10f9cf40d282e212f40bd445173aed',appId:'RNL791U9AF',indexName:'nanoc',container:'#search-box',debug:true});</script>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const container = document.querySelector('.hero__slides');

          setInterval(() => {
            const firstSlide = container.querySelector('.hero__slide:first-child');
            const nextSlide = firstSlide.nextElementSibling;

            if (nextSlide) {
              firstSlide.style.opacity = 0;
              nextSlide.style.opacity = 1;

              setTimeout(() => {
                container.appendChild(firstSlide);
              }, 1200);
            }
          }, 4000);
        });
      </script>
      <script>var _gaq = _gaq || []; var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js'; _gaq.push(['_require', 'inpage_linkid', pluginUrl]); _gaq.push(['_setAccount', 'UA-15639968-1']); _gaq.push(['_setDomainName', 'nanoc.ws']); _gaq.push(['_setAllowLinker', true]); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    </div>
  </body>
</html>
