!!!
%html{ :lang => "en" }

  %head
    %meta{ "charset" => "UTF-8" }
    %title= @item[:has_full_title] ? @item[:title] : "nanoc &rsaquo; #{@item[:title]}"
    %meta{ :name => "generator", :content => "nanoc #{Nanoc::VERSION}" }
    %link{ :rel => "stylesheet", :href => item_named('/assets/style/screen/').path, :type => "text/css", :media => "screen" }
    %link{ :rel => "alternate", :type => "application/atom+xml", :title => "The nanoc Blog", :href => "http://feeds.feedburner.com/nanoc" }
    = %Q[<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-15639968-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>]

  %body
    .wrapper

      / ***** navigation *****
      .nav
        %ol
          = nav_item_for('/',           :include_children => false)
          = nav_item_for('/blog/',      :include_children => false)
          = nav_item_for('/docs/',      :include_children => false)
          = nav_item_for('/community/', :include_children => false)

      / ***** sidebar *****
      .side

        - if @item.identifier =~ %r[^/docs/]

          %ol
            = nav_item_for('/docs/1-introduction/'     )
            = nav_item_for('/docs/2-installation/'     )
            = nav_item_for('/docs/3-getting-started/'  )
            = nav_item_for('/docs/4-basic-concepts/'   )
            = nav_item_for('/docs/5-advanced-concepts/')
            = nav_item_for('/docs/6-guides/'           )
            = nav_item_for('/docs/7-glossary/'         )
            = nav_item_for('/docs/8-faq/'              )
            %li <a href="/docs/api/3.3/"><span>API documentation</span></a>

        - elsif @item.identifier =~ %r[^/blog/]

          %ol
            = nav_item_for('/blog/32/')
            = nav_item_for('/blog/31/')
            = nav_item_for('/blog/30/')
            = nav_item_for('/blog/22/')
            = nav_item_for('/blog/21/')
            = nav_item_for('/blog/20/')

        - else

          .section.odd
            %p Install nanoc using <kbd>gem install nanoc</kbd> and take the <a href="/docs/2-installation/">tutorial</a>.

          - if @item.identifier != '/release-notes/'
            .section.even
              %p= 'The current version of nanoc is ' + latest_release_info[:version] + ', released on ' + latest_release_info[:date].format_as_date + '. See the <a href="/release-notes/">release notes</a> for details.'

          .section.odd
            %p Need assistance? There’s a <a href="http://groups.google.com/group/nanoc/">discussion group</a> and a <a href="irc://chat.freenode.net/#nanoc">#nanoc IRC channel</a> on freenode.

          .section.even
            %p If you like nanoc and can spare a few dollars, consider showing your support by making a donation! Thanks! :)
            .figure
              %a{ :href => "http://www.pledgie.com/campaigns/9282" }
                %img{ :alt => "Click here to lend your support to: nanoc and make a donation at pledgie.com!", :src => "http://pledgie.com/campaigns/9282.png?skin_name=chrome" }

      / ***** body *****
      .body
        - if @item[:raw_layout]
          = yield
        - else
          .article
            .header
              %h1= @item[:short_title] || @item[:title]
            = yield

    / ***** footer *****
    #footer
      %p nanoc &copy; 2007–2012 Denis Defreyne. The content of the nanoc web site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/be/">Creative Commons Attribution-ShareAlike 2.0 Belgium License</a>. nanoc is licenced under the MIT licence. This site uses the awesome <a href="http://www.fonts.info/info/press/free-fonts-for-font-face-embedding.htm">Graublau</a> and <a href="http://scripts.sil.org/Gentium">Gentium</a> fonts.
