<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= @item[:full_title] || 'nanoc &raquo; ' + (@item[:title] || content_for(@item, :title)) %></title>
        <link href="<%= item_named('/assets/style/screen/').path %>" media="screen" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
    </head>
    <body class="<%= @item[:has_basic_layout] ? 'home' : 'page' %>">
        <header>
            <div class="header-content">
                <nav class="main">
                    <ol>
                        <li class="home"><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/download/">Download</a></li>
                        <li><a href="/docs/">Documentation</a></li>
                        <li><a href="/community/">Community</a></li>
                    </ol>
                </nav>
                <div class="search">
                    <input type="text" value="Search...">
                </div>
            </div>
        </header>
<% if @item[:has_basic_layout] %>
    <%= yield %>
<% else %>
        <div class="intro">
            <div class="intro-content">
                <h1><%= @item[:title] || content_for(@item, :title )%></h1>
                <% if @item[:intro] %>
                    <p><%= @item[:intro] %></p>
                <% end %>
            </div>
        </div>
        <div class="content">
            <article>
                <% if @item[:has_toc] %>
                    <div class="details">
                        <h3><%= @item[:title] %></h3>
                        <% unless @item.parent.identifier == '/' %>
                            <p>↑ <%= link_to "Back to #{@item.parent[:title]}", @item.parent %></p>
                        <% end %>
                        {{TOC}}
                    </div>
                <% elsif content_for(@item, :details) %>
                    <div class="details">
                        <%= content_for(@item, :details) %>
                    </div>
                <% end %>
                <div class="article-content">
                    <%= yield %>
                </div>
            </article>
        </div>
<% end %>
        <footer>
            <div class="footer-content">
                <nav>
                    <section>
                        <h3>About</h3>
                        <ul>
                            <li><a href="/about/#history">History</a></li>
                            <li><a href="/about/#why-static">Why static?</a></li>
                            <li><a href="/about/#similar-projects">Alternatives</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Download</h3>
                        <ul>
                            <li><a href="/download/#instructions-for-the-impatient">Quick install</a></li>
                            <li><a href="/download/#installing-ruby">Installing Ruby &amp; Rubygems</a></li>
                            <li><a href="/download/#from-git">Installing from git</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Documentation</h3>
                        <ul>
                            <li><a href="/docs/tutorial/">Tutorial</a></li>
                            <li><a href="/docs/using-nanoc/">Using nanoc</a></li>
                            <li><a href="/docs/extending-nanoc/">Extending nanoc</a></li>
                            <li><a href="/docs/guides/">Guides</a></li>
                            <li><a href="/docs/glossary/">Glossary</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Community</h3>
                        <ul>
                            <li><a href="http://groups.google.com/group/nanoc">Discussion group</a></li>
                            <li><a href="http://github.com/ddfreyne/nanoc/issues">Issue tracker</a></li>
                            <li><a href="irc://chat.freenode.net/#nanoc">IRC channel</a></li>
                            <li><a href="http://github.com/ddfreyne/nanoc/wiki">Wiki</a></li>
                            <li><a href="/community/development/">Development</a></li>
                            <li><a href="http://www.pledgie.com/campaigns/9282">Donate</a></li>
                        </ul>
                    </section>
                </nav>
                <div class="copyright">
                    <p>nanoc © 2007–2012 Denis Defreyne. The content of the nanoc web site is licensed under a <a href="#">Creative Commons Attribution-ShareAlike 2.0 Belgium License</a>. nanoc is licenced under the MIT licence.</p>
                </div>
            </div>
        </footer>
    </body>
</html>
