<!-- pagination -->
<%= render 'pagination', :articles_per_item => @articles_per_item, :item_id => @item_id, :root => '/news' %>

<% sorted_articles.slice(@item_id*@articles_per_item, @articles_per_item).each do |article| %>

<% if article[:title] %>
<h2><%= article[:title] %></h2>
<% else %>
<h2><%= Time.parse(article[:created_at]).localtime.format_as_date %></h2>
<% end %>

<!-- meta -->
<p class="meta"><span>Written <%= Time.parse(article[:created_at]).localtime.format_as_date %>. [ <%= link_to 'permalink', article.reps[0] %> ]</span></p>

<!-- content -->
<%= strip_doctype(article.reps[0].content_at_snapshot(:pre)) %>

<% end %>

<!-- pagination -->
<%= render 'pagination', :articles_per_item => @articles_per_item, :item_id => @item_id, :root => '/news' %>
